.serial {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 600px) {
   
    .serial{
      
      flex-direction: column!important;
      
  }
}